.appScreen {
  display: flex;
  background-color: white;
  min-height: 100vh;
}

.appContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.statusButtonContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.statusButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s;
}

.statusButtonActive {
  background: #4caf50;
  color: white;
}

.statusButtonInactive {
  background: #d32f2f;
  color: white;
}

.addMedicineButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.addMedicineButton:hover {
  background-color: #0056b3;
}
